<div class="paddit"></div>
<h1>New apps</h1>

<% @apps.each do |app| %>
  <div class="app-holder">
    <div class="thumby">
      <% if app.avatar? %>
        <%= link_to (image_tag app.avatar), app.url %>
      <% else %>
        <%= image_tag "thumby_generic.png" %>
      <% end %>
    </div>
    <div class="app-name large">
    <span class="label label-success">New</span>
    <%= link_to app.name.capitalize, app.url %>
    </div>
    <%= app.url %>

    <div class="app-description">
      <%= app.description %>
    </div>
    <i>
      pimped <%= time_ago_in_words(app.created_at) %> ago
    </i>
    <br />
  </div>
<% end %>

<br />

